# dictates what files are uploaded and what files are pushed

# ignores all files in the following folders
/.git
/.idea
/MLPC2025_dataset
/MLPC2025_classification

/2_data_exploration/.ipynb_checkpoints
/2_data_exploration/MLPC2025_dataset
#/2_data_exploration/report/

/3_classification/.ipynb_checkpoints
/3_classification/MLPC2025_dataset
#/3_classification/report/


# makes an exception 
#  - text files (notice), 
!*.txt
!*.md

#  - tex files, 
#!/2_data_exploration/report/*.tex
#!/2_data_exploration/report/*.sty
#!/2_data_exploration/report/*.pdf

#  - jupyter notebook files and 
!*.ipynb

#  - the git ignore file
!.gitignore
3_classification/eval/best_model_svm_reinhard.pkl
3_classification/5_classification_reinhard.ipynb
3_classification/eval/best_model_rf_reinhard.pkl
